body{
    font-family: "Alice",sans-serif;
}
.bg{
    
    background-position: center;
    background-size:80% 100%;
    transition: 5s;

    
    
}
.bg:hover{
    background-size:120% 120%;
}
.modal-body {
    background-image: url('mcimg1');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.bg1{
    background-image:url('bg1.jpg');
    background-size:100% 100%;
    background-position: center;
     transition: 5s;
    
    
}
.bg1:hover{
    background-size:120% 120%;
}
.bg2{
    background-image:url('upsc.jpg');
    background-size:100% 100%;
    transition: 5s;
    background-position: center;
    
    
}
.bg2:hover{
    background-size:120% 120%;
}
.bg3{
    background-image:url('railway.jpg');
    background-size:100% 100%;
    transition: 5s;
    
    
}
.bg3:hover{
    background-size:120% 120%;
}

.bg4{
    background-image:url('download.jpg');
    background-size:100% 100%;
    transition: 5s;
    background-position: center;
    
    
}
.bg4:hover{
    background-size:120% 120%;
}
.abcd{
    color:black;
    text-decoration: none !important;
}
.abcd:hover{
    color:skyblue;
}
.border {
background: rgba(255, 255, 255, 0.14);
padding: 20px;
}
li a:hover{
    background-color: skyblue;
}
.icon{
border: 1px solid #dadada;
box-sizing: border-box;
}
icon:hover{
border:1px solid red;
}
h4:hover{
color:red;

}
h4 p:hover{
color:skyblue;
}
.active{
    background-color: skyblue;
}
.btn:hover{
    background-color:skyblue;
    border:skyblue;
}
.box{
    width:40px;
    height:40px;
    background:white;
    display:inline-block;
    line-height:40px;
    text-align: center;
    overflow:hidden;
    color:black;
}
.custm{
    color:black;
  }
  h3:hover{
      color:skyblue;
  }
 .button:hover{
    background-color:skyblue;
    border:skyblue;
}

  